/* -*- mode:css -*-
 * 
 * En este archivo puedes poner todo el estilo extra de tu tema.
 */

@font-face {
    font-family: 'gobCL';
    font-weight: normal;
    font-style: normal;
    src: url('/common/fonts/gobcl_regular-webfont.eot');
    src: local('â˜º'), url('/common/fonts/gobcl_regular-webfont.woff') format('woff'), url('/common/fonts/gobcl_regular-webfont.ttf') format('truetype'), url('/common/fonts/gobcl_regular-webfont.svg#webfont3jnenQ5S') format('svg');
}

html { background: #f6f6f6 url('../images/main-bg.jpg') center top repeat-y; }
#portal-top {
    background: url('../images/portal-top-bg.png') no-repeat;
    height: 160px;
}

/* Las siuientes configuraciones tienen que ver con los márgenes globales del sitio. */
/* Si quieres agregar un ancho fijo al sitio, puedes hacerlo descomentando las siguientes líneas. */
#visual-portal-wrapper {
    width: 980px;
    margin: 0 auto;
}

h5.hiddenStructure { float: left; }
#portal-globalnav {
    position: relative;
    left: 150px;
    top: -49px;
    background: transparent;
    width: 800px;
}
#portal-globalnav > li {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    padding-bottom: 2px;
}
#portal-globalnav > li li {
    font-size: 12px;
    font-weight: bold;
}
#portal-globalnav li a {
    background: transparent;
    color: #8b0000;
    padding-bottom: 12px;
    min-width: 3em;
    padding-left: 8px;
    padding-right: 8px;
}
#portal-globalnav .selected a:hover, #portal-globalnav .selected a, #portal-globalnav a:hover {
    background: #f8f8f8 url('../images/portal-globalnav-a-hover-bg.png') repeat-x;
    color: #8b0000;
}

/* Para tema de drop-down */
#portal-globalnav:hover li:hover > a {
    background-color: #f8f8f8;
    color: #ff0000;
}
#portal-globalnav li.selected a {
    background-color: #f8f8f8;
    color: #8b0000;
}

#portal-logo {
    margin: 0 0 1px 0;
}

#content p {
    text-align: justify;
}

#image-links a.not-last {
    margin-right: 35px;
}
#portal-footer {
  background: #eee;
  color: rgb(120,120,120);
  border-radius: 8px;
}
#portal-footer a {
  color: rgb(120,120,120);
}
#portal-footer a:hover {
  color: rgb(0, 108, 183);
  text-decoration: underline;
}
#portal-footer table {
    margin: 0 0 0 auto;
}
#portal-footer table td {
    padding: 0 2em;
}
#content .documentDescription, #content #description {
    margin-bottom: 1em;
    font-weight: normal;
    font-family: 'gobCL', 'Trebuchet MS', sans-serif;
}

dl.portlet dt, div.portletAssigments, div.portletHeader {
    background: #8b0000;
    color: white;
    font-family: Telex;
}
dl.portlet dt a, dl.portlet dt a:link, dl.portlet dt a:visited, div.portletAssigments a, div.portletHeader a {
    color: white;
}
#content dl.portlet dt.portletHeader a:hover, div.portletAssigments a:hover, div.portletHeader a:hover, #content a:hover, dl.portlet a:hover {
    color: white;
}

dl.portletNews > dd.portletItem {
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    display: table;
}
dl.portletNews > dd.portletFooter {
    background: #e5e5e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
dl.portletNews a:link, dl.portletNews a:visited #content a:visited, dl.portlet a:visited {
    border: none;
}
dl.portletNews > dd > a {
    float: right;
    width: 60%;
}
dl.portletNews > dd > .portletItemDetails {
    float: left;
    margin-left: 0;
    font-size: 0.8em;
    color: #a50;
}

#content h1 {
    font-weight: normal;
    font-family: 'gobCL', 'Trebuchet MS', sans-serif;
}

#content h2 {
    font-weight: normal;
    font-family: 'gobCL', 'Trebuchet MS', sans-serif;
}

#content img.tileImage {/*, #content div.newsImageContainer {*/
    float: left;
    margin: 0 1em 0 0;
}

#content div.tileItem > a {
    border-right: 3px solid #205c90;
    border-bottom: 0;
    display: table;
    float: left;
    margin: 8px 1em 0 0;
    height: 150px;
}

img.image-left, img.image-right {
    border: none;
}
img.image-left { margin-right: 2em; }
img.image-right { margin-left: 2em; }

ul.tickets li {
    list-style-position: outside;
    list-style-image: url('../images/ticket.png');
    list-style-type: square;
}

div.questions {
    padding: 10px 10px 10px 100px;
    margin-top: 2em;
    background: #f5f5f5 url('../images/pregunta.png') no-repeat 8px 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px #ccc;
}

div#ribbon {
  height: 60px;
  background: url("../images/footer-final.jpg") no-repeat scroll center top transparent;
  position: relative;
}
div#ribbon > a {
  height: 20px;
  width: 147px;
  background: url("../images/ribbon-link.png") no-repeat;
  position: relative;
  top: 40px;
  left: 10px;
  float: left;
}

#portal-social {
    float: right;
    margin: 46px -77px 0 0;
}

#portal-social a {
    float: left;
    display: block;
    height: 44px;
    width: 51px;
    background: red;
    margin-left: 4px;
}

#portal-social #facebook-btn {
    background: url('../images/iconface.png') no-repeat center top transparent;
}

#portal-social #twitter-btn {
    background: url('../images/icontwitter.png') no-repeat center top transparent;
}

#portal-banner div {
    height: 100px;
    background: url('../images/banner-1.jpg') no-repeat center top transparent;
}

#content h2.tileHeadline a:link, #content h2.tileHeadline a:visited {
    color: #8b0000;
}
